# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebooks
.ipynb_checkpoints/*

# Scraper
googlemaps-scraper/

# Data
data/*

# Ignore virtual environment and related files
proj_env/
*.dylib
*.so
*.dll

# Ignore sensitive files
*.env
proj_env/lib/python3.9/*
